### TRANSFORMING DATAFRAMES

+ the .transform() method can be used to perform aggregations without reshaping.
+ this is useful to calculate group level statistics to perform row lwvwl analysis.

In [1]:
import numpy as np
import pandas as pd

In [5]:
premier_league = pd.read_csv("2021-2022.csv")
premier_league
pl_df = premier_league[["Date","Time","HomeTeam","AwayTeam","FTHG","FTAG"]]
pl_df.rename(columns = {"FTHG" : "HomeGoals", "FTAG" : "Away Goals"}, inplace = True)
pl_df

D:\Anaconda\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

           Date   Time        HomeTeam        AwayTeam  HomeGoals  Away Goals
0    13/08/2021  20:00       Brentford         Arsenal          2           0
1    14/08/2021  12:30      Man United           Leeds          5           1
2    14/08/2021  15:00         Burnley        Brighton          1           2
3    14/08/2021  15:00         Chelsea  Crystal Palace          3           0
4    14/08/2021  15:00         Everton     Southampton          3           1
..          ...    ...             ...             ...        ...         ...
375  22/05/2022  16:00  Crystal Palace      Man United          1           0
376  22/05/2022  16:00       Leicester     Southampton          4           1
377  22/05/2022  16:00       Liverpool          Wolves          3           1
378  22/05/2022  16:00        Man City     Aston Villa          3           2
379  22/05/2022  16:00         Norwich       Tottenham          0           5

[380 rows x 6 columns]

In [7]:
pl_df.head()

         Date   Time    HomeTeam        AwayTeam  HomeGoals  Away Goals
0  13/08/2021  20:00   Brentford         Arsenal          2           0
1  14/08/2021  12:30  Man United           Leeds          5           1
2  14/08/2021  15:00     Burnley        Brighton          1           2
3  14/08/2021  15:00     Chelsea  Crystal Palace          3           0
4  14/08/2021  15:00     Everton     Southampton          3           1

In [12]:
pl_df.assign(
    avg_team_goals = pl_df.groupby(["HomeTeam"])["HomeGoals"].transform("sum"),
    mean_team_goals = pl_df.groupby(["HomeTeam"])["HomeGoals"].transform("mean"),
    difference = lambda x : x["HomeGoals"] - x["mean_team_goals"]
)

,Date,Time,HomeTeam,AwayTeam,HomeGoals,Away Goals,avg_team_goals,mean_team_goals,difference
0,13/08/2021,20:00,Brentford,Arsenal,2,0,22,1.157895,0.842105
1,14/08/2021,12:30,Man United,Leeds,5,1,32,1.684211,3.315789
2,14/08/2021,15:00,Burnley,Brighton,1,2,18,0.947368,0.052632
3,14/08/2021,15:00,Chelsea,Crystal Palace,3,0,37,1.947368,1.052632
4,14/08/2021,15:00,Everton,Southampton,3,1,27,1.421053,1.578947
...,...,...,...,...,...,...,...,...,...
375,22/05/2022,16:00,Crystal Palace,Man United,1,0,27,1.421053,-0.421053
376,22/05/2022,16:00,Leicester,Southampton,4,1,34,1.789474,2.210526
377,22/05/2022,16:00,Liverpool,Wolves,3,1,49,2.578947,0.421053
378,22/05/2022,16:00,Man City,Aston Villa,3,2,58,3.052632,-0.052632
379,22/05/2022,16:00,Norwich,Tottenham,0,5,12,0.631579,-0.631579

In [23]:
pl_df.groupby(["HomeTeam","AwayTeam"]).agg({'difference' : 'sum'}).sort_values(by = "difference", ascending = False)

SpecificationError: nested renamer is not supported